{{if data.locked}}

	Card locked. Swipe ID to continue: <br>
	{{:helper.link('Unlock', 'unlocked', {'unlock' : 1})}}

{{else}}

	<div class="itemLabel">
		Connected Faction:
	</div>
	<div class="itemContent">
		{{if data.faction_name}}
			{{:data.faction_name}}{{:helper.link("Disconnect", "cross" {'disconnect' : 1})}}
		{{else}}
			{{:helper.link("Connect to Faction", "" {'connect' : 1})}}
		{{/if}}
	</div>

	{{if data.faction_name}}
		<div>
			{{:helper.link((data.oneAccess ? "One" : "All") + ' Required', data.oneAccess ? "locked" : "unlocked", {'one_access' : 1})}}
			{{:helper.link('Access Setup: ' + (data.autoset ? "AUTO" : "MANUAL"), data.autoset ? "locked" : "unlocked", {'autoset' : 1})}}
			{{:helper.link('Clear', 'refresh', {'clear' : 1})}}
			{{if data.lockable}}
				{{:helper.link('Lock', 'locked', {'lock' : 1})}}
			{{/if}}
		</div>

		<div class='block'>
			{{for data.access}}
				{{:helper.link(value.name, value.req ? "check-square" : "square", {'access' : value.name}, null, value.req ? "selected" : null)}}
			{{/for}}
		</div>
	{{/if}}
{{/if}}
